<main class="bd-pageheader">
  <div class="container">
    <h1>ng-multiselect-dropdown</h1>
    <p>Native Angular component for Multiple Select</p>
    <a class="btn btn-primary" href="https://github.com/nileshpatel17/ng-multiselect-dropdown">View on GitHub</a>
    <div>
      <iframe src="https://ghbtns.com/github-btn.html?user=NileshPatel17&repo=ng-multiselect-dropdown&type=star&count=true" frameborder="0"
        scrolling="0" width="80px" height="20px">
      </iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=NileshPatel17&repo=ng-multiselect-dropdown&type=fork&count=true" frameborder="0"
        scrolling="0" width="80px" height="20px">
      </iframe>
    </div>
  </div>
</main>

<div class="container">
  <select-section class="col-md-12"></select-section>
</div>

<footer class="footer">
  <div class="container">
  </div>
</footer>
